
<h1>Students</h1>
<table>
  <tr *ngFor="let student of students">
    <td>
      {{student.id}}
    </td>
    <td>
      {{student.name}}
    </td>
    <td>
      {{student.surName}}
    </td>
    <td>
      {{student.clazz}}
    </td>
  </tr>

</table>

<h1>Classes</h1>
<table>
  <tr *ngFor="let class of classes">
    <td>
      {{class.id}}
    </td>
    <td>
      {{class.name}}
    </td>
    <td>
      {{class.year}}
    </td>
  </tr>

</table>

<h1>Teachers</h1>
<table>
  <tr *ngFor="let teacher of teachers">
    <td>
      {{teacher.id}}
    </td>
    <td>
      {{teacher.name}}
    </td>
    <td>
      {{teacher.surName}}
    </td>
  </tr>

</table>

<h1>Subjects</h1>
<table>
  <tr *ngFor="let subject of subjects">
    <td>
      {{subject.id}}
    </td>
    <td>
      {{subject.name}}
    </td>
  </tr>

</table>

<h1>Rozkład zajęć</h1>
<table>

  <tr>
    <td>-</td>
    <ng-container *ngFor="let dayOfWeek of daysOfWeek">
      <td>{{dayOfWeek.name}}</td>
    </ng-container>
  </tr>

  <tr *ngFor="let hour of hourLessons">
    <td>{{hour.hour}}</td>
    <ng-container *ngFor="let element of dayHourLessonMap | keyvalue">
      <ng-container *ngIf="element.key.includes(hour.name)">
        <ng-container *ngIf="element.value !== false">
          <td>
            {{element.value}}
          </td>
        </ng-container>
        <ng-container *ngIf="element.value === false">
          <td>
            -
          </td>
        </ng-container>
      </ng-container>
    </ng-container>
  </tr>
</table>

{{response}}

