<div class="container">

  <div class="row">
    <div class="col-md-offset-1 col-sm-10">
      <a href="http://www.empik.com">
        <div class="reklama_ksiazek">
          <img src="../assets/img/strona-glowna/reklama-ksiazki.jpg" alt="">
          <span class="tekst_reklamyy">
        Zniżka na książki - SPRAWDŹ!!!
      </span>
          <img id="kraina_ksiazki" src="../assets/img/strona-glowna/reklama-ksiazki-kraina.PNG" alt="">
        </div>
      </a>
    </div>
  </div>

  <div class="row mb-5">

    <div class="col-sm-4 sidebar1">

      <ul class="list">
        <li class="nav-item">
          <a href="onas.html" class="nav-link">O portalu</a>
        </li>
        <li class="nav-item">
          <a href="onas.html" class="nav-link">Aktualności</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/lessonSchedule']" class="nav-link">Plany zajęć</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a href="cennik.html" class="nav-link">Uczeń</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a href="strefa-klienta.html" class="nav-link">Rodzic</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a href="/nauczyciel" class="nav-link">Nauczyciel</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a href="kontakt.html" class="nav-link">Cennik</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a href="kontakt.html" class="nav-link">Kontakt</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a href="kontakt.html" class="nav-link">Pomoc</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a href="kontakt.html" class="nav-link">Regulamin</a>-->
<!--        </li>-->
      </ul>

    </div>

    <div class="col-sm-8">

      <div class="row h100 mx-1">
        <div class="col-sm-12" id="naglowek_aktualnosci">
          Aktualności
        </div>
      </div>

      <div class="row h-100">
        <div class="col-xs-12 col-md-6 my-auto">
          <a href="#">
            <div class="rounded-sm border border-dark" id="artykul_czytaj_ksiazki">
              <p>Jak zachęcić dziecko do czytania książek?</p>
              <img id="zdjecie_artykulu" class="img-fluid" src="assets/img/strona-glowna/dziecko-czyta-książkę.jpg" alt="Dziecko czytające książkę">
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-md-6 my-auto">
          <a href="#">
            <div class="rounded-sm border border-dark" id="artykul_czytaj_ksiazki">
              <p>Jakie przybory szkolne warto kupić?</p>
              <img id="zdjecie_artykulu" class="img-fluid" src="assets/img/strona-glowna/przybory-szkolne.PNG" alt="Przybory szkolne">
            </div>
          </a>
        </div>
      </div>

    </div>

  </div>

  <div class="row h-100">

    <div class="col-xs-12 col-md-4 my-auto">
      <a href="#">
        <div class="rounded-sm border border-dark" id="artykul_czytaj_ksiazki">
          <p>Zajęcia dodatkowe pozalekcyjne - SPRAWDŹ!</p>
          <img id="zdjecie_artykulu" class="img-fluid" src="assets/img/strona-glowna/dodatkowe-zajecia.PNG" alt="Dodatkowe zajęcia">
        </div>
      </a>
    </div>

    <div class="col-xs-12 col-md-4 my-auto">
      <a href="#">
        <div class="rounded-sm border border-dark" id="artykul_czytaj_ksiazki">
          <p>Dziecko nie radzi sobie z matematyką?</p>
          <img id="zdjecie_artykulu" class="img-fluid" src="assets/img/strona-glowna/zajecia-z-matematyki.jpg" alt="Zadania z matematyki">
        </div>
      </a>
    </div>

    <div class="col-xs-12 col-md-4 my-auto">
      <a href="#">
        <div class="rounded-sm border border-dark" id="artykul_czytaj_ksiazki">
          <p>Warsztaty z chemii w prawdziwym laboratorium!</p>
          <img id="zdjecie_artykulu" class="img-fluid" src="assets/img/strona-glowna/zajecia-z-chemii.jpg" alt="Warsztaty z chemii">
        </div>
      </a>
    </div>

  </div>

</div>
