<div class="container">

    <div class="col-md-offset-1 col-sm-10">
      <a href="http://www.empik.com">
        <div class="reklama_ksiazek">
          <img src="../assets/img/reklama-ksiazki.jpg" alt="">
          <span class="tekst_reklamyy">
          Zniżka na książki - SPRAWDŹ!!!
        </span>
          <img id="kraina_ksiazki" src="../assets/img/reklama-ksiazki-kraina.PNG" alt="">
        </div>
      </a>
    </div>

  <div class="row">

    <div class="col-sm-4">

      <ul class="nav">
        <li class="nav-item">
          <a href="onas.html" class="nav-link text-light">O portalu</a>
        </li>
        <li class="nav-item">
          <a href="onas.html" class="nav-link text-light">Aktualności</a>
        </li>
        <li class="nav-item">
          <a href="cennik.html" class="nav-link text-light">Uczeń</a>
        </li>
        <li class="nav-item">
          <a href="strefa-klienta.html" class="nav-link text-light">Rodzic</a>
        </li>
        <li class="nav-item">
        <li class="nav-item">
          <a href="strefa-klienta.html" class="nav-link text-light">Nauczyciel</a>
        </li>
        <li class="nav-item">
          <a href="kontakt.html" class="nav-link text-light">Cennik</a>
        </li>
        <li class="nav-item">
          <a href="kontakt.html" class="nav-link text-light">Kontakt</a>
        </li>
      </ul>

    </div>

    <div class="col-sm-8">

      Aktualności

    </div>

  </div>

</div>

