
* {
  margin: 0;
  padding: 0;
}

header {
  height: 70px;
  background-color: lightgrey;
  padding: 15px;
}

header a img {
  height: 100%;
  margin-left: 5%;
  vertical-align: middle;
  display: inline-block;
}

#link-to-login-form {
  float: right;
  margin-right: 5%;
  font-size: 20px;
  font-weight: bold;
  color: lightseagreen;
  vertical-align: middle;
  display: inline-block;
}
