
* {
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: lightgrey;
  padding: 15px;
}

header img {
  height: 100%;
  margin-left: 5%;
  vertical-align: middle;
  display: inline-block;
}
